<div class="main-content">
        <div class="widget-header">
            <h4 class="col-md-2"><i class="fa fa-user"></i>{{customerDetails.customername}}</h4>
            <h4 class="col-md-2"><i class="fa fa-bullseye"></i>ID:{{customerDetails.objectId}}</h4>
            <h4 class="col-md-2"><i class="fa fa-shopping-cart"></i>{{customerDetails.productname}}</h4>
            <h4 class="col-md-2"><i class="fa fa-thumbs-o-up"></i>{{customerDetails.status}}</h4>
            <!--Phone-->
            <h4 class="col-md-2" ng-if="customerDetails.communications"><i class="fa fa-phone"></i>
                <select>
                    <option ng-repeat="phone in customerDetails.communications"
                            value="{{phone.value}}"
                            ng-if="phone.category=='Phone'">
                        {{phone.value}}
                    </option>
                </select>
            </h4>
            <!--Email address-->
            <h4 class="col-md-2" ng-if="customerDetails.communications">
                <!--<select>-->
                    <option ng-repeat="phone in customerDetails.communications"
                            value="{{phone.value}}"
                            ng-if="phone.category=='Email'">
                        {{phone.value}}
                    </option>
                <!--</select>-->
            </h4>
            <!--Address-->
            <div class="col-md-12"
                 ng-repeat="address in customerDetails.addresses"
                 ng-if="customerDetails.addresses">
                <h4 class="col-md-1"><i class="fa fa-home"></i></h4>
                <h4 class="col-md-1" value="{{address.city}}">{{address.pincode}}</h4>
                <h4 class="col-md-2" value="{{address.city}}">{{address.country}}</h4>
                <h4 class="col-md-2" value="{{address.city}}">{{address.state}}</h4>
                <h4 class="col-md-2" value="{{address.city}}">{{address.city}}</h4>
                <h4 class="col-md-2" value="{{address.city}}">{{address.street1}}</h4>
            </div>
        </div>
    <div class="row">
        <div class="col-md-12">
            <!-- BEGIN NOTES TAB -->
            <div class="widget col-md-6">
                <div class="widget-header">
                    <h3><i class="fa fa-edit"></i>Notes Tab</h3>
                </div>
                <div class="widget-content">
                    <!--Select statuses option-->
                    <select ng-model="customerDetails.status">
                        <option></option>
                        <option ng-repeat="status in statuses"
                                value="{{status.name}}"
                                ng-selected="status.name==customerDetails.status">
                            {{status.name}}
                        </option>
                    </select>
                    <!--Note textarea-->
                    <textarea id="textarea" class="form-control" rows="6" cols="30" maxlength="99"
                            ng-value="{{customerDetails.notes}}"
                            ng-model="customerDetails.notes">
                    </textarea>
                    <p class="help-block text-right js-textarea-help"><span class="text-muted"></span></p>
                </div>
                <!-- END NOTES TAB -->
            </div>
            <div class="widget col-md-6">
                <div class="widget-header">
                    <h3><i class="fa fa-edit"></i>Visit tab</h3>
                </div>
                <div class="widget-content">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                        <select ng-model="customerDetails.visit['action']">
                            <!--Select option for action-->
                            <option></option>
                            <option ng-repeat="action in actions"
                                    value="{{action.name}}"
                                    ng-selected="action.name==customerDetails.visit.action">
                                {{action.name}}
                            </option>
                        </select>
                        <!--Visit date-->
                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                        <input type="date" id="datepicker" class="form-control option"
                               value="{{customerDetails.visit.date | date:'yyyy-MM-dd'}}">
                        <!--Visit Time-->
                        <span class="input-group-addon"><i class="fa fa-clock-o"></i></span>
                        <input class="form-control option"
                               value="{{customerDetails.visit.time}}"
                               ng-model="customerDetails.visit.time">
                    </div>
                        <!--Text area for notes about Visit-->
                        <textarea class="form-control" rows="5" cols="30" maxlength="99"
                                  ng-value="{{customerDetails.visit.notes}}"
                                  ng-model="customerDetails.visit.notes">
                        </textarea>
                        <p class="help-block text-right js-textarea-help"><span class="text-muted"></span></p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-2 pull-right">
        <button class="btn btn-custom-primary btn-lg btn-block btn-auth"
                ng-click='editCustomer(customerDetails)'>
            <i class="fa fa-check-circle"></i>Save
        </button>
    </div>
</div>