<div class="widget widget-table" ng-if="authService.isLoggedIn()">
    <div class="widget-header row">
        <div>
            <h3><i class="fa fa-table"></i>HEADER</h3> <em> - <a href="" target="_blank">table</a>text</em>
        </div>
        <div class="top-bar-right">
            <span>{{authService.getCurrentUser().username}}</span>
            <a ng-click="logout()" href="">Logout</a>
        </div>
    </div>
    <div class="widget-content">
        <input  ng-model="filterSearch" placeholder="search..."/>
        <table id="datatable-column-interactive" class="table table-sorting table-hover table-bordered datatable">
            <thead>
                <tr>
                    <th ng-click="sortOrder='customername'">Name</th>
                    <th ng-click="sortOrder='objectId'">ID</th>
                    <th ng-click="sortOrder='productname'">Product</th>
                    <th ng-click="sortOrder='status'">Status</th>
                    <!--<th>Bounce Rate</th>-->
                </tr>
            </thead>
            <tbody ng-repeat="customer in customers | orderBy:sortOrder | filter: filterSearch">
                <tr ng-click="customerDetails(customer.objectId)">
                    <td>{{customer.customername}}</td>
                    <td>{{customer.objectId}}</td>
                    <td>{{customer.productname}}</td>
                    <td>{{customer.status}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>